.inputs {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

}

.input-container {
    display: flex;
    flex-direction: column;
  }

.input-container input {
    width: 40%;

}
.inputs input {
    min-width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #92fe9dc4;
    font-size: 1em;
    margin: 5px
}

input {
  outline: none;
  background-color: #00c8ff00;
  width: 80%;
  height: 2em;
  border: none;
}

input:focus {
  border-radius: 5px;
  box-shadow: 0 0 0 2px lightblue;
  
}

.pending-tasks {
    font-size: 1.2em;
    color: rgb(11, 158, 227);
    font-weight: bold;
}

.btn {
  height: 40px;
  width: 40px;
  margin-top: 6px;
  border-radius: 10px;
  border-color: #92fe9dc4;
  background-color: #00c8ffc1;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.btn-clear button{
    height: 40px;
    width: 15%;
    min-width: 100px;
    border-radius: 10px;
    border-color: #92fe9dc4;
    background-color: #00c8ffc1;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

span.error {
    display: block;
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    padding-left: .5rem;
    align-self: flex-start;
  }

  @media (min-width: 1406px) {
    .input-container input {
        width: 20vw;
        margin: .3vw 1vw 0 1vw;
    }

  }