:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* line-height: 1.5;
  font-weight: 400; */
  /* background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%); */

}